In [12]:
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, IntegerType
from pyspark.sql import SparkSession, functions, Row
from pyspark.sql import functions
from pyspark.sql.functions import col, lit, concat, lower, upper, substring, min, max

In [4]:
import findspark
findspark.init()

spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/02/25 00:47:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/02/25 00:47:32 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
schema = StructType([])
sc = spark.sparkContext
empty_df = spark.createDataFrame(sc.emptyRDD(),schema)

In [7]:
empty_df.show()

++
||
++
++

In [8]:
schema_header = StructType([StructField("name", StringType(), True)])
empty_df_with_header = spark.createDataFrame(sc.emptyRDD(),schema_header)

In [9]:
empty_df_with_header.show()

+----+
|name|
+----+
+----+

In [13]:
list = [
  {"name":'Alice',"age":13},
  {"name":'Jacob',"age":24},
  {"name":'Betty',"age":135},
]

In [15]:
spark.createDataFrame(Row(**x) for x in list).show()

+-----+---+
| name|age|
+-----+---+
|Alice| 13|
|Jacob| 24|
|Betty|135|
+-----+---+

In [23]:
df = sc.parallelize([
        Row(name='alice', age=13),
        Row(name='jacob', age=24),
        Row(name='aaa', age=13),
        Row(name='betty', age=135),
        Row(name='betty', age=135)]).toDF()

In [24]:
df.show()

+-----+---+
| name|age|
+-----+---+
|alice| 13|
|jacob| 24|
|  aaa| 13|
|betty|135|
|betty|135|
+-----+---+

In [25]:
df.dropDuplicates().show()

+-----+---+
| name|age|
+-----+---+
|alice| 13|
|jacob| 24|
|  aaa| 13|
|betty|135|
+-----+---+

In [26]:
df.dropDuplicates(subset=["age"]).show()

+-----+---+
| name|age|
+-----+---+
|alice| 13|
|jacob| 24|
|betty|135|
+-----+---+